{
  "extends": [
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "semi": ["warn", "always"]
    // "quotes": ["warn", "single"]
  },
  "ignorePatterns": ["src/pages/test/**"]
}
