.map_controllers_zoom {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  flex-direction: column;
  padding: 30px;
}

.map_controllers_zoom_button {
  margin-top: 10px;
  height: 34px;
  width: 34px;
  border-radius: 21px;
  background-color: white;
  font-size: larger;
  border-color: black;
  border-width: inherit;
}
