html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body > #root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  text-transform: uppercase;
  padding: 10px;
  color: white;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
}

.btn-primary {
  background-color: #282c34;
}

.btn-primary:hover {
  opacity: 0.8;
}

.btn-secondary {
  background: #282c34;
  opacity: 0.6;
}

.btn-secondary:hover {
  opacity: 0.4;
}

.btn-outline {
  color: #282c34;
  background-color: white;
  border-color: #282c34;
  border-radius: 3px;
}

.btn-outline:hover {
  opacity: 0.5;
}

.btn-large {
  width: 100%;
}
